<h1>List of Employee</h1>
<table>
  <tr>
    <th>ID</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
  </tr>
  <td>
    <tr *ngFor="let employee of employee">
      {{
        employee.id
      }}
    </tr>
  </td>
  <td>
    <tr *ngFor="let employee of employee">
      {{
        employee.firstname
      }}
    </tr>
  </td>
  <td>
    <tr *ngFor="let employee of employee">
      {{
        employee.lastname
      }}
    </tr>
  </td>
  <td>
    <tr *ngFor="let employee of employee">
      {{
        employee.email
      }}
    </tr>
  </td>
</table>
