*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #29b5df;
  font-family: 'Open Sans', sans-serif;
}
table {
  background: #29b5df;
  border-radius: 0.25em;
  border-collapse: collapse;
  margin: 1em;
}
th {
  border-bottom: 1px solid #364043;
  color: rgb(7, 7, 7);
  font-size: 0.85em;
  font-weight: 600;
  padding: 0.5em 1em;
  text-align: center;
}

td {
  color: rgb(7, 7, 7);
  font-weight: 400;
  padding: 0.65em 1em;
}
.disabled td {
  color: #29b5df;
}
tbody tr:hover {
  background: #29b5df;
}

h1 {
  font-size: 1.9rem;
}
